@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



* {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s ease-out;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}


body {
    padding: 3rem 7%;



}







section {
    padding: 5rem 1%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    position: relative;
    z-index: 1000;
}

.logo {
    width: 25%;
    display: flex;



}

.logo img {
    width: 20%;
    border: 3px solid white;
    border-radius: 50px;
}

header .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .navbar a:hover {
    color: var(--blue);
}

#menu {
    font-size: 2.5rem;
     border-radius: .3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    cursor: pointer;
    display: none;
}


.box-main {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80%;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;


}

.heading {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading span {
    color: #b738f2;
    font-weight: 600;
}

.subheading {
    font-size: 20px;
    padding-top: 5px;
}

.secondhalf {
    width: 50%;
}

.secondhalf img {
    width: 50%;
    border: 4px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;

}

h1 {
    color: #000000;

    font-weight: 600;
}

h1 span {
    color: #b738f2;
    position: relative;
}

h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

.intro {
    font-size: 17px;
    padding-top: 20px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1rem;
    border-radius: .9rem;
    background: rgba(39, 51, 218, 0.911);
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    border: 1px solid white;
    margin-right: 10px;
  }
  
  
  
  .btn:hover{
    background: white;
    color: black;
    border: 1px solid gray;
  }
 
  
  .about-main-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80%;
    padding-bottom: 40px;
  }
  
  .about-left {
    width: 50%;
    display: flex;
    flex-direction: column;
  
  }
  
  .left-image {
    width: 50%;
  }
  
  .left-image img {
    height: 20%;
    width: 50%;
  
    border: 4px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
  
  }
.aboutme h2{
    text-align: center;
    font-size: 30px;
}
.aboutme h3{
    font-size: 25px;
    padding-bottom: 8px;
}
.aboutme p{
    font-size: 20px;
    padding-bottom: 5px;
}

.project h1{
    text-align: center;
    font-size: 30px;
}

.projectimage{
    padding-top: 30px;
    display: flex;
   justify-content: space-evenly;
}
.projectimages{
    padding-top: 70px;
    display: flex;
   justify-content: space-evenly;
}


.image-container {
    position: relative;
    width: 45%;
    border: 1px solid rgb(113, 111, 111);
    overflow: hidden;
}

/* Basic CSS for the image */
.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

/* CSS for hover effect */
.image-container:hover img {
    transform: scale(1.1);
}

/* CSS for the text overlay */
.image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 62, 62, 0.777);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

/* CSS for the text within the overlay */
.image-text p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}



/* CSS for buttons */
.buttons {
    display: flex;
    justify-content: center;
}

.btn a{
    color: white;
}
.btn a:hover{
    color: black;
}

  
   /* Hover effect for the text overlay */
   .image-container:hover .image-text {
    opacity: 1;
}
 








































@media (max-width:991px) {

    html {
      font-size: 55%;
    }
  
    body {
      padding: 1.5rem;
    }
  
    header {
      padding: 2rem;
    }
  
    section {
      padding: 2rem;
  
    }
  
    .heading {
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .subheading {
      font-size: 20px;
      padding-top: 5px;
    }
  
    .box-main {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .firsthalf {
      width: 100%;
      padding-top: 10px;
    }
  
    .secondhalf {
  
      width: 100%;
    }
  
    .logo {
      width: 40%;
    }
  
    .logo img {
      width: 35%;
    }
  
    .heading {
      padding-bottom: 5px;
    }
  
    .subheading {
      padding-bottom: 7px;
    }
  

  
  
    .aboutme h2 {
      padding-bottom: 5px;
      text-align: center;
    }
  
    .aboutme p {
      padding-bottom: 7px;
    }
  
    .about-main-left {
      display: flex;
      flex-direction: column-reverse;
  
    }
  
    .about-left {
      width: 100%;
      padding-top: 10px;
    }
  
    .left-image {
      width: 100%;
    }
  
    .left-image img {
      width: 100%;
    }
  
   .aboutme{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
   }
  

 

 
  }
  
  
  
  
  
  @media (max-width:768px) {
  
    #menu {
      display: initial;
      color: black;
    }
  
    header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: .1rem solid rgba(0, 0, 0, .2);
      border-bottom: .1rem solid rgba(0, 0, 0, .2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a {
      font-size: 2.5rem;
      display: block;
      margin: 2rem 0;
      text-align: center;
    }
  
  
  
  }